@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.cart-items > img{
    width: 100vw;
    height: auto;
}

.cart-items{
    justify-content: center;
    align-items: center;
    align-content: center;
}
.cart-items > h1{
    font-size: 40px;
}

.cart-items > h1, .cart-items .left .book-cart .right-book p:nth-child(1){
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    padding: 3% 0% 3% 0%;
}

.cart-items .left{
    padding-left: 18%;
}

.cart-items .right{
    padding-left: 40%;
}

.cart-items .left .book-cart .right-book .increment-decrement button{
    padding: 3% !important;
}

.cart-items .left .book-cart img{
    width: 8vw;
    height: auto;
}

.cart-items .increment-decrement > p{
    padding: 5%;
    padding-bottom: 8%;
}

.cart-items .left .book-cart .right-book .remove{
    padding: 4% 7% 4% 7% !important;
    background-color: rgb(107, 0, 0);
    color: white;
    border: 1px solid rgb(107, 0, 0);
    border-radius: 8px;

}

.cart-items .left .book-cart .right-book p:nth-child(1){
    font-size: 30px;
}

.cart-items .left .book-cart .right-book p:nth-of-type(2){
    font-size: 20px;
    font-weight: bold;
    padding: 3%;
}

.cart-items p{
    color: black
}

.cart-items .left .book-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 5%;
    width: 60vw;
    background-color: antiquewhite;
}

.cart-items .left .book-cart .right-book .increment-decrement{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-items .left .book-cart .subtotal {
    font-weight: 500;
    font-size: 20px;
    padding-top: 2%;
}

.cart-items .left .book-cart{
    border-top: 1px solid rgb(107, 0, 0);
    border-bottom: 1px solid rgb(107, 0, 0);
}

.cart-items .right p{
    font-size: 30px;
    padding: 5%;
    margin-left: -5vw;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.cart-items .right button{
    padding: 3% 5% 3% 5%;
    border: 1px solid wheat;
    border-radius: 6px;
    color: black;
    background-color: wheat;
}

.cart-items .right .end-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20vw;
    margin-bottom: 5vh;
}

@media screen and (max-width : 450px){
    .cart-items .left .book-cart .right-book p:nth-child(1){
        font-size: 20px;
    }
    .cart-items .left .book-cart .left-book img{
        width: 20vw;
        height: auto;
    }
    .cart-items .left .book-cart .subtotal{
        font-size: 20px;
        padding: 3%;
    }
    .cart-items .left .book-cart{
        width: 90vw;
        margin-left: -12vw;
    }
    .cart-items .right p{
        padding-left: 0;
        margin-left: -20vw;
        width: 90vw;
        font-size: 20px;
    }
    .cart-items .right .end-buttons{
        width: 50vw;
        margin-left: -15vw;
    }
}


