@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

main {
    background-image: url("../components/images/library.jpg");
    height: 100vh;
    background-repeat: none;
    background-size: cover;
    /* filter: brightness(0.5); */
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 , p{
    color: rgb(255, 255, 255);
}

main h1{
    font-size: 70px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding-top: 5%;
}

main p{
    font-size: 23px;
    padding: 3% 20% 5% 20%;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

main button{
    width: 10vw;
    padding: 1% 1% 1% 1%;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

main button:hover{
    background-color: white;
    color: black;
    transition-duration: 1000ms;
}

@media screen and (max-width: 450px){
    main h1{
        font-size: 45px;
    }
    main p{
        font-size: 15px;
    }
    main button{
        width: 30vw;
        padding: 2% 5% 2% 5%;
        backdrop-filter: blur(45px);
    }
}
