@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    color: white;
    font-size: 12px;
    padding: 0% 5% 0% 5%;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

nav img{
    width: 8vw;
    height: auto;
    /* padding-top: 2%; */
    margin-top: 2vh;
}

nav:hover{
    color: black;
    background-color: white;
    transition-duration: 1000ms;
}

nav a:hover{
    cursor: pointer;
}

nav a:after{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
}

nav a:hover:after{
    width: 100%;
}