@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    color: white;
    font-size: 13px;
    padding: 0% 5% 0% 5%;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.inverted{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    color: black;
    background-color: white;
    font-size: 13px;
    padding: 0% 5% 0% 5%;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.nav img, .inverted img{
    width: 8vw;
    height: auto;
    margin-top: 2vh;
}

.nav span img, .inverted span img{
    width: 1vw;
    height: auto;
    margin-right: 0.5vw;
}

.nav span, .inverted span{
    margin-top: -2.5vh;
}

.nav:hover, .inverted:hover{
    color: black;
    background-color: white;
    transition-duration: 1000ms;
}

.nav a:hover, .inverted a:hover{
    cursor: pointer;
}

.nav a:after, .inverted a:after{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
}

.nav a:hover:after, .inverted a:hover:after{
    width: 100%;
}



@media screen and (max-width: 450px){
    .nav, .inverted{
        font-size: 10px;
    }
    .nav span img, .inverted span img{
        width: 2vw;
    }
    .nav span, .inverted span{
        margin-top: -2vh;
    }
    .nav img, .inverted img{
        width: 15vw;
    }
}